<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <context:annotation-config />

    <context:component-scan base-package="com.mts.hp"/>

    <context:property-placeholder location="classpath:const.properties" />

    <aop:aspectj-autoproxy />

    <task:annotation-driven />

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                        <value>text/plain;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
    <mvc:resources mapping="/assets/**" location="/assets/" />
    <mvc:resources mapping="/templates/**" location="/templates/" />
    <mvc:resources mapping="/upload/**" location="/upload/" />
    
<!--     <mvc:interceptors>
    	<mvc:interceptor>
    		<mvc:mapping path="/**"/>
    		<mvc:exclude-mapping path="/"/>
    		<mvc:exclude-mapping path="/msguser/**"/>
    		<mvc:exclude-mapping path="/db/special/**"/>
		    <mvc:exclude-mapping path="/user/signUp/**" />
		    <mvc:exclude-mapping path="/sample/**" />
    		<mvc:exclude-mapping path="/assets/**" />
    		<mvc:exclude-mapping path="/upload/**" />
		    <mvc:exclude-mapping path="/favicon.ico" />
    		<bean class="com.mts.msg.common.security.LoginCheckInterceptor" />
    	</mvc:interceptor>
    	
    	<mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.mts.msg.common.security.requestLoggerInterceptor" id="requestLoggerInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors> -->

    <bean id="constProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:const.properties</value>
            </list>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="message"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="0" />
    </bean>

<!--     <bean id="excelView" class="com.mts.msg.common.ExcelView" />
    <bean id="statsExcelView" class="com.mts.msg.common.StatsExcelView" /> -->

    <!-- Multipart Resolver -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20971520"/><!-- the maximum file size in bytes : 20 MB -->
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="1" />
    </bean>
    
</beans>